$mainColor: #525252;

body{
	background-color: $mainColor;
	color:white;
}

header{
	background-color: #0171EF;
	& a{
		color:white;
		transition: 0.25s;
		&:hover{
			color:#0C18B1;
			transform: scale(1.2);
		}
	}
}